.icons {
  margin: auto;
  width: 100%;
  overflow-wrap: normal; }
  .icons .icon {
    display: inline-block;
    width: 80px; }
    .icons .icon svg {
      border: 1px solid #6c757d;
      font-size: 48px;
      margin: 1rem 1rem;
      cursor: pointer; }
