<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./antd/antd.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body>
<div id="root">{{{reactDOM}}}</div>
<script src="./js/client.js"></script>
<script src="./js/styles.js"></script>
</body>
</html>
